<!DOCTYPE html>
<html>
<head>
	<title>About Me</title>
	     {% load staticfiles %}
     <!-- Bootstrap -->
          <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <!-- CSS Link -->
    <link rel="stylesheet" href="{% static 'portfolio/css/about.css' %}" charset="utf-8"  />
</head>
<body>
<!-- ===============    NAVBAR    ===================== -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}">Daniel Y. Guerrero</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link topnav" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'projects' %}">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://docs.google.com/document/d/1wPR1JgrkzH_GM93WNpqrO_DDg1V40-8Qn59sXaP51fU/edit?usp=sharing" target="_blank">Resume</a>
      </li>
    </ul>
  </div>
</nav>
<!-- ===============   WRAPPER    ======================= -->
<div class="wrapper">
	<h1 >A bit about myself</h1>

<!-- ===============   ARMY DIV    ======================= -->
  <div class="armydiv">
    <img src="static/portfolio/img/army.png" id="armypic"  / >
    <p>I enlisted in the military back in 2005, my first duty
    station was located in Germany. Deployed twice to Baghdad, Iraq and was awarded 
    multiple medals</p>
  </div>

<!-- ===============   UOP DIV    ======================= -->
  <div class="uopdiv">
    <img src="static/portfolio/img/uop.jpg" id="uoppic"  / >

    <p>I enrolled into the University of Phoenix right after 
      my military service in 2012 and received my Bachelor's of Science in Information 
      Technology in 2017.</p>
  </div>

<!-- ===============   DOJO DIV    ======================= -->
  <div class="dojodiv">
    <img src="static/portfolio/img/dojo.png" id="dojopic"  / >

    <p>In 2017 I enrolled into Coding Dojo where I was taught 
    full stack web development, I received my certifications Feb 2018.</p>
    </div>
  </div>
</div>

<!-- ===============   WRAPPER  ENDS   ======================= -->
</body>
</html>