<!DOCTYPE html>
<html>
<head>
  <title>Daniel's Portfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
     {% load staticfiles %}
     <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <!-- CSS Link -->
    <link rel="stylesheet" href="{% static 'portfolio/css/index.css' %}" charset="utf-8"  />
    <!-- JavaScript Link -->
    <script src="{% static "portfolio/js/index.js" %}"></script>


</script> 
</head>
<body>
<!-- ===============    NAVBAR    ===================== -->
   <div class="topnav" id="myTopnav">
    <a href="{% url 'home' %}" class="active">Portfolio</a>
    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'projects' %}">Projects</a>
    <a class="nav-link" href="https://docs.google.com/document/d/1wPR1JgrkzH_GM93WNpqrO_DDg1V40-8Qn59sXaP51fU/edit?usp=sharing" target="_blank">Resume</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
  </div> 

<!-- ===============   WRAPPER    ======================= -->
  <div class="wrapper">
    <div class="topdiv">
      <br>
      <h1 >Hello, I'm Daniel a Software Engineer from Dallas, TX. </h1>
    <br>
      <div class="ldiv">
        <img src="static/portfolio/img/me.jpg" id="mypic"  />
      </div>

      <div class="rdiv">
         <img src="static/portfolio/img/eat.png" class="allfour"  />
         <img src="static/portfolio/img/code.png" class="allfour"  />
         <br>
         <img src="static/portfolio/img/sleep.png" class="allfour"  />
         <img src="static/portfolio/img/repeat.png" class="allfour"  />
      </div>

    </div>
  </div>
  <footer>
    <a href="https://github.com/danielyguerrero" class="fa fa-github" target="_blank"></a>
    <a href="https://twitter.com/danielyguerrero" class="fa fa-twitter" target="_blank"></a>
    <a href="https://www.linkedin.com/in/daniel-guerrero-10ab3912a/" class="fa fa-linkedin" target="_blank"></a>
    <a href="https://plus.google.com/108764558393139818561" class="fa fa-google" target="_blank"></a>
  </footer>
</body>
</html>