<!DOCTYPE html>
<html>
<head>
	<title>My Projects</title>
	{% load staticfiles %}
     <!-- Bootstrap -->
          <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <!-- CSS Link -->
    <link rel="stylesheet" href="{% static 'portfolio/css/projects.css' %}" charset="utf-8"  />
</head>
<body>
<!-- ===============    NAVBAR    ===================== -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}">Daniel Y. Guerrero</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link topnav" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'projects' %}">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://docs.google.com/document/d/1wPR1JgrkzH_GM93WNpqrO_DDg1V40-8Qn59sXaP51fU/edit?usp=sharing" target="_blank">Resume</a>
      </li>
    </ul>
  </div>
</nav>
<!-- ===============   WRAPPER    ======================= -->
<div class="wrapper">
	<h1 >These are some of my Projects</h1>
  <div class="project1">
      <p>Appointments: (Python, JavaScript) – </p>
        <p>
        An application allowing its users to create future appointments
        <br>● I worked with a team and was responsible for matching-algorithm,
         designing and structuring the database<br>● Developed using Python, 
         Django, MySQL, JavaScript, Express.js, HTML, CSS and jQuery<br>
        ● The app was deployed using Amazon AWS (EC2)
      </p>
      <br>
      <a href="https://github.com/danielyguerrero/Appointments/tree/master/apps/appointments" target="_blank">Link to project here</a>
  </div>
  <div class="project2">
      <p>TravelPlanner: (Python, JavaScript) – </p>
        <p>
        A trip planning application with share feature among registered users
        <br>● I structured the database and implemented the front end design plus
         deploying the app using Amazon AWS (EC2) all within 4.5 hours <br>● Developed 
         using Python, Django, MySQL, JavaScript, Express.js, HTML, CSS and jQuery<br>
        ● The app was deployed using Amazon AWS (EC2)
      </p>
      <br>
      <a href="https://github.com/danielyguerrero/TravelPlanner/tree/master/apps/travelplanner" target="_blank">Link to project here</a>
    
  </div>
  <div class="project3">
      <p>SocialApp: (Python, JavaScript) – </p>
        <p>
        An application allowing its users to create future appointments
        <br>● I worked with a team and was responsible for matching-algorithm, 
        designing and structuring the database<br>● Developed using Python, Django,
         MySQL, JavaScript, Express.js, HTML, CSS and jQuery<br>
        ● The app was deployed using Amazon AWS (EC2)
      </p>
      <br>
      <a href="https://github.com/danielyguerrero/SocialApp/tree/master/apps/friends" target="_blank">Link to project here</a>
  </div>
  <div class="project4">
      <p>WishList: (Python, JavaScript) – </p>
        <p>
        An application enabling registered users to create a list of wished items
        <br>● Users can see other’s wished items and may add the item to their list 
        <br>● Validation added to ensure only the owner of the Wishlist could delete 
        items, created the application within 4 hours<br>
        ● The app was deployed using Amazon AWS (EC2)
      </p>
      <br>
      <a href="https://github.com/danielyguerrero/Wishlist/tree/master/apps/wishlist" target="_blank">Link to project here</a>
  </div>
  <div class="project5">
      <p>Quotes: (Python, JavaScript) – </p>
        <p>
        An application allowing its users to create future appointments
        <br>● I worked with a team and was responsible for matching-algorithm, designing and structuring the database<br>● Developed using Python, Django, MySQL, JavaScript, Express.js, HTML, CSS and jQuery<br>
        ● The app was deployed using Amazon AWS (EC2)
      </p>
      <br>
      <a href="https://github.com/danielyguerrero/Quotes/tree/master/apps/quotes" target="_blank">Link to project here</a>
  </div>
</div>
</body>
</html>
